# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# Folders
bin
obj
doc
doxygen
.cccc

# Project files, etc. that we don't need to distribute
*.layout
*.cbp
*.depend

# Anything else that's easily generated
*.log
CppCheckResults.xml
